.intro {
    padding: 1em;
}

.intro h1 {
    font-family: var(--bs-font-serif);
    font-size: 2rem;
    font-weight: normal;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.info > * {
    flex: 1;
}

@media screen and (min-width: 600px) {
    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
}

/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/

.disclaimer {
    padding: 0 1em;
}

/* Adjust for wide screens */

@media (min-width: 768px) {
  .global-nav > h2,
  .global-nav__list:first-of-type {
    display: none;
  }
  .global-nav__submenu,
  .global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .global-nav__split-button {
    background-color: inherit;
  }
  .global-nav__split-button > button {
    display: none;
  }
  .global-nav__submenu {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  .global-nav__submenu a {
    padding: 0.625rem;
  }
}